CMakeFiles/*

CMakeCache.txt

Makefile

cmake_install.cmake

testAttack.exe

testBalls.exe

testBattle.exe

testDisplays.exe

testMain.exe

testPC.exe

testPlayer.exe

testPokemon.exe

testPotions.exe

testRevives.exe

testStore.exe

testWild.exe

valgrind

Pokemon_Battle.sln

Project.sln

build.ninja

out.exe

.ninja_deps

.ninja_log

CMakeLists.txt

.vscode/*

build/*

test/*